/*==============================
=            COLORS            =
==============================*/

/*----------  MAIN COLORS  ----------*/

$colorMain_1: #342E37;
$colorMain_2: #4A4A4A;
$colorMain_3: #E1E1E1;
$colorMain_4: #FF6058;
$colorMain_5: #2B81F0;
$colorMain_6: #5BDDB4;
$colorMain_7: #FEFE5E;
$colorMain_8: #FFB858;
$grey: #ecf0f3;
$primary: $colorMain_4;

/*=====  End of COLORS  ======*/


/*=============================
=            FONTS            =
=============================*/

@font-face {
	font-family: National-Bold;
	src:url(/src/assets/fonts/nunito/Nunito-Bold.ttf);
}
@font-face {
	font-family: National-Regular;
	src:url(/src/assets/fonts/nunito/Nunito-Regular.ttf);
}

$font_1: National-Bold;
$font_2: National-Regular;

/*=====  End of FONTS  ======*/