@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

@import 'var';

html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
}

@import '~bulma';
