.is-sidebar-menu {
  padding: 2.5rem;
  background: $black-ter;
}

.menu-top {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid $grey-dark;
    padding-bottom: 1rem;
    margin-bottom: 2rem;

    div {
        align-self: center;
        width: 4rem;
        height: 4rem;
        border-radius: 15px;
        background: $white;
        -webkit-box-shadow: 0 2px 3px $black-bis, 0 0 0 1px $black-bis;
        box-shadow: 0 2px 3px $black-bis, 0 0 0 1px $black-bis;

        img {
            padding: .25rem;
        }
    }

    h1 {
        align-self: center;
        color: $white;
        font-family: $ft_nunito_bold;
        font-size: $size-3;
    }
}

.menu-list {
    a {
        color: $grey;
        font-family: $ft_nunito_light;

        &.nuxt-link-active {
            .icon {
                color: $primary;
            }
            color: $white;
        }
        &:hover {
            .icon {
                color: $grey;
            }
            background:none;
            color: $white;
        }
    }
}

.menu-bottom {
    display:flex;
    padding-top: 1rem;
    margin-top: 2rem;
    border-top: 1px solid $grey-dark;
}

.columns {
  &.is-fullheight {
    margin: 0;
    padding: 0;
    min-height: calc(100vh);
    max-height: calc(100vh);
    height: calc(100vh);
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    .column {
      overflow-y: auto;
    }
  }
}
