/*==============================
=            COLORS            =
==============================*/

/*----------  MAIN COLORS  ----------*/
$colorMain_1: #342E37;
$colorMain_2: #4A4A4A;
$colorMain_3: #E1E1E1;
$colorMain_4: #FF6058;
$colorMain_5: #2B81F0;
$colorMain_6: #5BDDB4;
$colorMain_7: #FEFE5E;
$colorMain_8: #FFB858;
$grey: #c3c3c3;

$primary: $colorMain_4;
$info: #64e4ff;

/*=====  End of COLORS  ======*/

/*=============================
=            FONTS            =
=============================*/
@font-face {
	font-family: National-Bold;
	src:url(~assets/fonts/nunito/Nunito-Bold.ttf);
}
@font-face {
	font-family: National-Regular;
	src:url(~assets/fonts/nunito/Nunito-Regular.ttf);
}

$ft_nunito_bold: National-Bold;
$ft_nunito_regular: National-Regular;

/*=====  End of FONTS  ======*/
